<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Principal</title>
    <link rel="stylesheet" href="/resources/css/principal.css">
    <link rel="stylesheet" href="/resources/css/style.css">
    <script src="https://kit.fontawesome.com/b5e4f52ce9.js" crossorigin="anonymous"></script>
</head>
<body>
    <main>
        <div class="Menus">
            <div class="Menus1">
                <header>
                    <form class="Opcion1">
                        <h1>Consulta</h1>
                        <button class="Dispo">Disponibles</button>
                        <button class="Clien">Clientes</button>
                        <button class="Venta">Ventas</button>
                        <button class="Ganan">Ganancias</button>
                    </form>
                </header>
            </div>

            <div class="Menus2">
                <header>

                    <div class="Opcion2">
                        <h1>Acciones</h1>
                        <button class="Lista">Modificar Lista</button>
                        <button class="Canti">Modificar Cantidades</button>
                        <button class="Hacer">Hacer Pedido</button>
                        <!--<button class="contes"><i class="far fa-check-square"></i></button>-->
                        <!--<button class="never"><i class="far fa-times-circle"></i></button>-->
                    </div>
                </header>
            </div>
        </div>
        <a href="logout" class="a-logout">Exit</a>
    </main>
</body>
</html>